{%  extends 'base.html' %}
{% block contenido %}
{% load static %}

<div class="container" style="margin-top: 50px">
    <h2>Noticias</h2>
    
    <div id="profesionales_excelencia" class="row">
      <div class="cont-profesionales col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cont-listado row">

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="prof int">
                {% for n in noticia %}
                {% if n.estado == 1 %}
              <figure>
                  <a href="{% url 'noticia_detalle' n.id %}">
                  <img width="270" height="350"
                    src="{{ n.foto.url }}"
                    class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy"> </a>
                <h4 class="nombre white">{{n.titulo}}</h4>
                <h4 class="nombre white text-danger"> {{n.seccion}}</h4>
                <h4 class="nombre white">Periodista: {{n.periodista.nombre }} {{n.periodista.apellido }}</h4>

              </figure>
              {% endif %}
              {% endfor %}

            </div>
          </div>




      </div>
    </div>
  </div>


{% endblock %}